In [15]:
import numpy as np
import pandas as pd

In [8]:
df = pd.DataFrame(np.random.randn(5,3), index=['a','b','c','d','e'],columns=[1,2,3])
print(df)
#df = pd.DataFrame(np.random.randint(1,10,5), index=['a','b','c','d','e'])
#print(df)

          1         2         3
a  0.500465 -0.851792  0.482907
b -0.282968 -0.797464 -0.059679
c -0.432994  0.276254 -0.337631
d  1.193671 -0.440735 -0.366287
e  0.822609  0.378607  0.733547

In [30]:
df1=df.reindex(['a','q','w'])
print(df1)

          1         2         3
a  0.500465 -0.851792  0.482907
q       NaN       NaN       NaN
w       NaN       NaN       NaN

In [28]:
df1[1].isnull()

a    False
q     True
w     True
Name: 1, dtype: bool

In [35]:
df1=df1.fillna(method='ffill') #ffill or bfill
df1

          1         2         3
a  0.500465 -0.851792  0.482907
q  0.500465 -0.851792  0.482907
w  0.500465 -0.851792  0.482907

In [29]:
df1.dropna()

          1         2         3
a  0.500465 -0.851792  0.482907